* {
  margin: 0;
  padding: 0; }

body {
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Roboto Flex', sans-serif; }

.background {
  background-color: lightblue; }

#menu_presentacion_index {
  grid-area: menu_presentacion; }

.nav__bar__hover li :hover {
  background-color: lightblue;
  border-radius: 100px; }

#presentacion {
  background-image: url(../img/beach-1867590.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 5rem; }
  #presentacion__titulo {
    font-size: 3rem;
    padding-top: 3rem; }
  #presentacion__descripcion {
    color: white;
    font-size: 1.5rem;
    padding-top: 1rem;
    width: 30%;
    padding-left: 2rem; }

.texto__centrado {
  text-align: center; }

.estadistica_imagen {
  height: 100px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 100px; }

.footer__titulo {
  color: black;
  font-size: strong; }

.imagen__viajes {
  opacity: 50%; }
  .imagen__viajes:hover {
    opacity: 100%; }

.animacion {
  color: white;
  font-size: 100px;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes efecto {
  0% {
    color: white; }
  25% {
    color: beige;
    transform: translateX(100px); }
  50% {
    color: #64a6f2; }
  75% {
    color: white; }
  100% {
    color: white; } }

/*Tabletas*/
@media (min-width: 577px) and (max-width: 991px) {
  #presentacion__titulo {
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem; }
  #presentacion__descripcion {
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
    width: 50%;
    padding-left: 2rem; }
  #estadisticas__texto {
    font-size: 1rem; }
  #footer__imagen {
    padding-bottom: 3rem; }
    #footer__imagen img {
      height: 70px;
      width: 70px; }
  #footer__seccion {
    font-size: 1rem; } }

/*Celulares*/
@media (min-width: 320px) and (max-width: 576px) {
  #presentacion__titulo {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem; }
  #presentacion__descripcion {
    color: white;
    font-size: 0.8rem;
    padding-top: 1rem;
    width: 90%;
    padding-left: 2rem; }
  #estadisticas__texto {
    font-size: 0.8rem; }
  #footer__imagen {
    padding-bottom: 1rem; }
    #footer__imagen img {
      height: 50px;
      width: 50px; }
  #footer__seccion {
    font-size: 0.8rem; } }
