/* Paleta de colores */
/* MAP BACKGROUND */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto Flex', sans-serif; }

.main__title {
  font-size: 16px; }
  .main__title__principal {
    font-size: 32px; }

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 2em; }

.btn-blue {
  background: #ffa43a; }
  .btn-blue:hover {
    background: #ff9111;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #ba6400; }

.nav__bar__hover li :hover {
  background-color: lightblue;
  border-radius: 100px; }

.footer__titulo {
  color: black;
  font-size: strong; }

.membresia {
  padding: 100px;
  background-color: #525558; }
  .membresia__contenedor {
    text-align: center; }
  .membresia__principal h1 {
    color: white;
    font-weight: bolder; }
  .membresia__articulo {
    padding: 70px; }
    .membresia__articulo h2 {
      font-size: 30px;
      text-decoration: underline; }
  .membresia__banner {
    padding: 50px; }
    .membresia__banner span {
      background-color: orange;
      padding: 10px;
      font-size: 2rem; }
  .membresia__abonos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .membresia__tarjeta {
    background-color: white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    padding: 50px;
    margin: 50px;
    box-shadow: 0;
    transition: box-shadow 30ms;
    border: 1px solid #eee; }
    .membresia__tarjeta ul {
      list-style: none; }
      .membresia__tarjeta ul li {
        margin-top: 10px; }
  .membresia__tarjeta:hover {
    box-shadow: 0 0 3px #515151; }

.background {
  background-color: #525558; }

.imagen__viajes {
  opacity: 50%; }
  .imagen__viajes:hover {
    opacity: 100%; }

#presentacion {
  background-image: url(../img/beach-1867590.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10rem; }
  #presentacion__titulo {
    font-size: 3rem;
    padding-top: 3rem; }
  #presentacion__descripcion {
    color: white;
    font-size: 1.5rem;
    padding-top: 1rem;
    width: 30%;
    padding-left: 2rem; }

#estadisticas__texto {
  text-align: center; }

.estadistica_imagen {
  height: 100px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 100px; }

.animacion {
  color: white;
  font-size: 100px;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes efecto {
  0% {
    color: white; }
  25% {
    color: beige;
    transform: translateX(100px); }
  50% {
    color: #64a6f2; }
  75% {
    color: white; }
  100% {
    color: white; } }

.container__quienesSomos {
  text-align: center; }
  .container__quienesSomos div {
    padding: 30px; }
    .container__quienesSomos div p {
      padding: 10px; }

.container__fundadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .container__fundadores div img {
    height: 170px;
    width: 250px;
    border-radius: 5rem;
    border: solid black 1px; }
  .container__fundadores div p {
    text-align: center; }

.background--nuestraMision {
  background-color: pink; }

.background--nuestraHistoria {
  background-color: #afcfbe; }

.background--nuestroEquipo {
  background-color: #b3b3d6; }

/*Tabletas*/
@media (min-width: 577px) and (max-width: 991px) {
  #presentacion__titulo {
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem; }
  #presentacion__descripcion {
    color: white;
    font-size: 1rem;
    padding-top: 1rem;
    width: 50%;
    padding-left: 2rem; }
  #estadisticas__texto {
    font-size: 1rem; }
  #footer__imagen {
    padding-bottom: 3rem; }
    #footer__imagen img {
      height: 70px;
      width: 70px; }
  #footer__seccion {
    font-size: 1rem; } }

/*Celulares*/
@media (min-width: 320px) and (max-width: 576px) {
  #presentacion__titulo {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem; }
  #presentacion__descripcion {
    color: white;
    font-size: 0.8rem;
    padding-top: 1rem;
    width: 90%;
    padding-left: 2rem; }
  #estadisticas__texto {
    font-size: 0.8rem; }
  #footer__imagen {
    padding-bottom: 1rem; }
    #footer__imagen img {
      height: 50px;
      width: 50px; }
  #footer__seccion {
    font-size: 0.8rem; } }
