*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

@mixin texto__centrado {
    text-align: center;
}

@mixin flex-row-center{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main__title{
    font-size: $font-title;
}

@mixin sizes($width, $heigth){
    height: $heigth;
    width: $width;
}

$backgrounds:(
    nuestraMision: pink,
    nuestraHistoria: rgb(175, 207, 190),
    nuestroEquipo: rgb(179, 179, 214)
);
