* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

.main__title {
    font-size: $font-subttitle;

    &__principal {
        font-size: $font-title;
    }
}

.btn {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 2em;
}

.btn-blue {
    @include boton-bg($color-primero);
}