*{
    margin: 0;
    padding: 0;
}

body{
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Flex', sans-serif;
}
/* Escritorio */
@media screen and(min-width:1024px){

    #grilla{
        display: grid;
        grid-template-areas: 
        "header_index header_index header_index"
        "menu_presentacion menu_presentacion menu_presentacion"
        "estadisticas_index estadisticas_index estadisticas_index"
        "footer_index footer_index footer_index"
        ;
        align-items: stretch;
        justify-items: stretch;
    }
    
    #header_index{
        display: grid;
        grid-area: header_index;
        grid-template-areas: 
        "imagen_icono navegacion navegacion"
        ;
    }
    
    #imagen_header{
        grid-area: imagen_icono;
    }
    
    #nav_header{
        display: flex;
        grid-area: navegacion;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    #menu_presentacion_index{
        grid-area: menu_presentacion;
    }
    
    #estadisticas_index{
        grid-area: estadisticas_index;
    }
    
    #footer_index{
        grid-area: footer_index;
    }
    
    .header{
        background-color: #64a6f2;
        grid-area: header;
    }
    
    .menuSuperior{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .menuSuperior li{
        display: inline-block;
        border-style:none;
        border-radius: 5rem;
        border-color: white;
        margin-left: 3rem;
        padding: 1rem;
        background-color:  rgb(180, 180, 238);
    }
    
    .menuSuperior a{
        font-size: 1.1rem;
        text-decoration: none;
        text-transform:uppercase;
        color: rgb(0, 0, 0);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .menuSuperior__icono{
        width: 100px;
        position: absolute;
        padding: 1rem;
        padding-top: 1.3rem;
        padding-left: 3rem;
    }
    
    
    .contenedor{
        background-image: url(./img/vacation-at-sea-and-resort-concept-stupefied-lifeguard-with-lifebuoy-looks-surprisingly-into-distance.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: stretch;
        height: 60rem;
        background-position-y:inherit;
    }
    
    .section{
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        width: 40%;
    }
    
    .section h1{
        text-align: center;
        font-size: 5rem;
        padding-bottom: 2rem;
    }
    
    .section p{
        padding: 3rem;
        border-radius: 5rem;
        text-align: center;
        font-size: 2rem;
    }
    
    .estadistics{
        background-color: rgb(180, 180, 238);
        color: rgb(0, 0, 0);
        padding: 2rem;
    }
    
    .estadistics__flex{
        display: flex;
        justify-content: space-around;
    }
    
    .estadistics_titulo{
        font-size: 0.8rem;
        text-align: center;
    }
    
    .estadistics_case{
        list-style: none;
        text-align: center;
    }
    
    .estadistics_case img{
        border-radius: 5rem;
    }
    
    .form{
        display: flex;
    }
    
    .footer{
        background-color:#64a6f2;
        padding: 2rem;
    }
    
    .footer__flex{
        display: flex;
        justify-content: space-around;
    }
    
    .footer__menu{
        list-style: none;
        text-align: center;
    }
    .footer__titulo{
        color: black;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .footer__menu a{
        color: black;
        text-decoration: none;
        padding: 1rem;
        font-size: 1rem;
    }
}
/* Tabletas */
@media screen and(min-width: 768px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header_index header_index header_index"
        "menu_presentacion menu_presentacion menu_presentacion"
        "estadisticas_index estadisticas_index estadisticas_index"
        "footer_index footer_index footer_index"
        ;
        align-items: stretch;
        justify-items: stretch;
    }
    
    #header_index{
        display: grid;
        grid-area: header_index;
        grid-template-areas: 
        "imagen_icono navegacion navegacion"
        ;
    }
    
    #imagen_header{
        grid-area: imagen_icono;
    }
    
    #nav_header{
        display: flex;
        grid-area: navegacion;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    #menu_presentacion_index{
        grid-area: menu_presentacion;
    }
    
    #estadisticas_index{
        grid-area: estadisticas_index;
    }
    
    #footer_index{
        grid-area: footer_index;
    }
    
    .header{
        background-color: #64a6f2;
        grid-area: header;
    }
    
    .menuSuperior{
        display: flex;
    }
    
    .menuSuperior li{
        display: inline-block;
        border-style:none;
        border-radius: 5rem;
        border-color: white;
        margin-left: 3rem;
        padding: 1rem;
        background-color:  rgb(180, 180, 238);
    }
    
    .menuSuperior a{
        font-size: 1.1rem;
        text-decoration: none;
        text-transform:uppercase;
        color: rgb(0, 0, 0);
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .menuSuperior__icono{
        width: 100px;
        position: absolute;
        padding: 1rem;
        padding-top: 1.3rem;
        padding-left: 3rem;
    }
    
    
    .contenedor{
        background-image: url(./img/vacation-at-sea-and-resort-concept-stupefied-lifeguard-with-lifebuoy-looks-surprisingly-into-distance.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: stretch;
        height: 60rem;
        background-position-y:inherit;
    }
    
    .section{
        padding-top: 10rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        width: 40%;
    }
    
    .section h1{
        text-align: center;
        font-size: 5rem;
        padding-bottom: 2rem;
    }
    
    .section p{
        padding: 3rem;
        border-radius: 5rem;
        text-align: center;
        font-size: 2rem;
    }
    
    .estadistics{
        background-color: rgb(180, 180, 238);
        color: rgb(0, 0, 0);
        padding: 2rem;
    }
    
    .estadistics__flex{
        display: flex;
        justify-content: space-around;
    }
    
    .estadistics_titulo{
        font-size: 0.8rem;
        text-align: center;
    }
    
    .estadistics_case{
        list-style: none;
        text-align: center;
    }
    
    .estadistics_case img{
        border-radius: 5rem;
    }
    
    .form{
        display: flex;
    }
    
    .footer{
        background-color:#64a6f2;
        padding: 2rem;
    }
    
    .footer__flex{
        display: flex;
        justify-content: space-around;
    }
    
    .footer__menu{
        list-style: none;
        text-align: center;
    }
    .footer__titulo{
        color: black;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .footer__menu a{
        color: black;
        text-decoration: none;
        padding: 1rem;
        font-size: 1rem;
    }
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header_index header_index header_index"
    "menu_presentacion menu_presentacion menu_presentacion"
    "estadisticas_index estadisticas_index estadisticas_index"
    "footer_index footer_index footer_index"
    ;
    align-items: stretch;
    justify-items: stretch;
}

#header_index{
    display: grid;
    grid-area: header_index;
    grid-template-areas: 
    "imagen_icono" 
    "navegacion"
    ;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

#imagen_header{
    grid-area: imagen_icono;
    text-align: center;
    padding: 10px;
}

#nav_header{
    grid-area: navegacion;
}

#menu_presentacion_index{
    grid-area: menu_presentacion;
}

#estadisticas_index{
    grid-area: estadisticas_index;
}

#footer_index{
    grid-area: footer_index;
}

.header{
    background-color: #64a6f2;
    grid-area: header;
}

.menuSuperior{
    display: flex;
    flex-direction: column;
}

.menuSuperior li{
    background-color:  rgb(180, 180, 238); 
    list-style-type: none;
    text-align: center;
    padding: 10px;
    border-style: solid;
    margin: 1px;
}

.menuSuperior a{
    font-size: 1rem;
    text-decoration: none;
    text-transform:uppercase;
}

.menuSuperior__icono{
    width: 100px;
}

.contenedor{
    background-image: url(./img/vacation-at-sea-and-resort-concept-stupefied-lifeguard-with-lifebuoy-looks-surprisingly-into-distance.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    width: 40%;
}

.section h1{
    text-align: left;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.section p{
    text-align: left;
    font-size: 1rem;
}

.estadisticas__flex{
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 180, 238);
    justify-content: space-around;
    padding: 1rem;
}

.caso_estadistica{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150px;
}

.caso_estadistica img{
    border-radius: 5rem;
}

.form{
    display: flex;
}

.footer{
    background-color:#64a6f2;
    padding: 2rem;
}

.footer__flex{
    display: flex;
    justify-content: space-around;
}

.footer__menu{
    list-style: none;
    text-align: center;
}
.footer__titulo{
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.footer__menu a{
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
}

