*{
    margin: 0;
    padding: 0;
}

body{
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Flex', sans-serif;
}
/* Escritorio */
@media only screen and (min-width: 769px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header_index header_index header_index"
        "menu_presentacion menu_presentacion menu_presentacion"
        "estadisticas_index estadisticas_index estadisticas_index"
        "footer_index footer_index footer_index"
        ;
        align-items: stretch;
        justify-items: stretch;
    }
    
    #header_index{
        display: flex;
        grid-area: header_index;
        flex-direction: row;
    }
    
    #imagen_header{
        grid-area: imagen_icono;
        text-align: left;
        padding: 10px;
    }
    
    #nav_header{
        grid-area: navegacion;
        padding: 1rem;
    }
    
    #menu_presentacion_index{
        grid-area: menu_presentacion;
    }
    
    #estadisticas_index{
        grid-area: estadisticas_index;
    }
    
    #footer_index{
        grid-area: footer_index;
    }
    
    .header{
        background-color: #64a6f2;
        grid-area: header;
    }
    
    .menuSuperior{
        display: flex;
        flex-direction: row;
        padding-left: 3rem;
    }
    
    .menuSuperior li{ 
        list-style-type: none;
        border-radius: 5rem;
        padding: 1rem;
        margin-right: 1rem;
        text-align: center;
    }

    .menuSuperior li :hover{
        background-color:  blueviolet; 
        list-style-type: none;
        border-radius: 5rem;
        padding: 1rem;
        margin-right: 1rem;
        text-align: center;
        transition-duration: 300ms;
    }

    
    .menuSuperior a{
        font-size: 1rem;
        text-decoration: none;
        text-transform:uppercase;
    }
    
    .menuSuperior__icono{
        width: 60px;
    }
    
    .contenedor{
        background-image: url(./img/vacation-at-sea-and-resort-concept-stupefied-lifeguard-with-lifebuoy-looks-surprisingly-into-distance.jpg);
        background-position: center;
        background-size:cover;
        background-position-y:top;
        background-repeat: no-repeat;
        height: 55rem;
    }
    
    .section{
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        width: 30rem;
    }
    
    .section h1{
        text-align: left;
        font-size:4rem;
        padding-bottom: 10rem;
    }
    
    .section p{
        text-align: left;
        justify-content: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .estadisticas__flex{
        display: flex;
        flex-direction: row;
        background-color: rgb(180, 180, 238);
        justify-content: space-around;
        font-size: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .caso_estadistica{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        width: 1fr;
    }
    
    .caso_estadistica img{
        border-radius: 20rem;
    }

    .estadistica_imagen{
        height: 100px;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }     

    .form{
        display: flex;
    }
    
    .viajes{
        background-color: #b6c0cc;
    }

    #viajes__cliente{
        display: grid;
        grid-template-areas: 
        "viaje_1 viaje_2"
        "viaje_3 viaje_4"
        ;
    }

    #viaje_1{
        grid-area: viaje_1;
    }
    #viaje_2{
        grid-area: viaje_2;
    }
    #viaje_3{
        grid-area: viaje_3;
    }
    #viaje_4{
        grid-area: viaje_4;
    }

    .box__viaje{
        background-color: rgb(255, 199, 125);
        border-radius: 5rem;
        background-position: center;
        text-align: center;
        height: 300px;
        width: 500px;
        margin: 70px;
        border-style: dashed;
    }

    .box__viaje h3{
        margin: 140px;
        text-decoration: underline;
    }

    .footer{
        background-color:#64a6f2;
        padding: 2rem;
    }
    
    .footer__flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .footer__menu{
        list-style: none;
        text-align: center;
    }
    .footer__titulo{
        color: black;
        font-size: 1rem;
        text-align: center;
    }
    
    .footer__menu a{
        color: black;
        text-decoration: none;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .footer_secciones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer__seccion{
        justify-content: space-evenly;
        margin-left: 10rem;
    }
    
    .footer__image{
        text-align: center;
        padding: 1rem;
        height: 100px;
    }

    .animacion{
        color: white;
        font-size: 100px;
        animation-name: efecto;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-delay: 1s;
    }

    @keyframes efecto {
        0%{
            color: white;
        }
        25%{
            color: beige;
            transform: translateX(100px);
        }
        50%{
            color: #64a6f2;
        }
        75%{
            color: rgb(255, 255, 255);
        }
        100%{
            color: white;
        }
    }
}
/* Tabletas */
@media only screen and (min-width: 426px) and (max-width: 768px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header_index header_index header_index"
        "menu_presentacion menu_presentacion menu_presentacion"
        "estadisticas_index estadisticas_index estadisticas_index"
        "footer_index footer_index footer_index"
        ;
        align-items: stretch;
        justify-items: stretch;
    }
    
    #header_index{
        display: flex;
        grid-area: header_index;
        flex-direction: row;
    }
    
    #imagen_header{
        grid-area: imagen_icono;
        text-align: left;
        padding: 10px;
    }
    
    #nav_header{
        grid-area: navegacion;
        padding: 1rem;
    }
    
    #menu_presentacion_index{
        grid-area: menu_presentacion;
    }
    
    #estadisticas_index{
        grid-area: estadisticas_index;
    }
    
    #footer_index{
        grid-area: footer_index;
    }
    
    .header{
        background-color: #64a6f2;
        grid-area: header;
    }
    
    .menuSuperior{
        display: flex;
        flex-direction: row;
        padding-left: 3rem;
    }
    
    .menuSuperior li{
        background-color:  rgb(180, 180, 238); 
        list-style-type: none;
        border-radius: 5rem;
        padding: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    
    .menuSuperior a{
        font-size: 1rem;
        text-decoration: none;
        text-transform:uppercase;
    }
    
    .menuSuperior__icono{
        width: 60px;
    }
    
    .contenedor{
        background-image: url(./img/vacation-at-sea-and-resort-concept-stupefied-lifeguard-with-lifebuoy-looks-surprisingly-into-distance.jpg);
        background-position: center;
        background-size:cover;
        background-position-y:top;
        background-repeat: no-repeat;
        height: 55rem;
    }
    
    .section{
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        width: 30rem;
    }
    
    .section h1{
        text-align: left;
        font-size:4rem;
        padding-bottom: 10rem;
    }
    
    .section p{
        text-align: left;
        justify-content: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    .estadisticas__flex{
        display: flex;
        flex-direction: row;
        background-color: rgb(180, 180, 238);
        justify-content: space-around;
        font-size: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .caso_estadistica{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        width: 1fr;
    }
    
    .caso_estadistica img{
        border-radius: 20rem;
    }

    .estadistica_imagen{
        height: 100px;
    }    

    .form{
        display: flex;
    }
    
    .footer{
        background-color:#64a6f2;
        padding: 2rem;
    }
    
    .footer__flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .footer__menu{
        list-style: none;
        text-align: center;
    }
    .footer__titulo{
        color: black;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .footer__menu a{
        color: black;
        text-decoration: none;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .footer__secciones{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top:1rem;
    }
    
    .footer__seccion{
        padding:1rem;
    }
    
    .footer__image{
        text-align: center;
        padding: 1rem;
    }
}
/*Celulares*/
@media only screen and (max-width: 425px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header_index header_index header_index"
        "menu_presentacion menu_presentacion menu_presentacion"
        "estadisticas_index estadisticas_index estadisticas_index"
        "footer_index footer_index footer_index"
        ;
        align-items: stretch;
        justify-items: stretch;
    }
    
    #header_index{
        display: grid;
        grid-area: header_index;
        grid-template-areas: 
        "imagen_icono" 
        "navegacion"
        ;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }
    
    #imagen_header{
        grid-area: imagen_icono;
        text-align: center;
        padding: 10px;
    }
    
    #nav_header{
        grid-area: navegacion;
    }
    
    #menu_presentacion_index{
        grid-area: menu_presentacion;
    }
    
    #estadisticas_index{
        grid-area: estadisticas_index;
    }
    
    #footer_index{
        grid-area: footer_index;
    }
    
    .header{
        background-color: #64a6f2;
        grid-area: header;
    }
    
    .menuSuperior{
        display: flex;
        flex-direction: column;
    }
    
    .menuSuperior li{
        background-color:  rgb(180, 180, 238); 
        list-style-type: none;
        text-align: center;
        padding: 10px;
        border-style: solid;
        margin: 1px;
    }
    
    .menuSuperior a{
        font-size: 1rem;
        text-decoration: none;
        text-transform:uppercase;
    }
    
    .menuSuperior__icono{
        width: 100px;
    }
    
    .contenedor{
        background-image: url(./img/vacation-at-sea-and-resort-concept-stupefied-lifeguard-with-lifebuoy-looks-surprisingly-into-distance.jpg);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    
    .section{
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 3rem;
        width: 40%;
    }
    
    .section h1{
        text-align: left;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    
    .section p{
        text-align: left;
        font-size: 1rem;
    }
    
    .estadisticas__flex{
        display: flex;
        flex-direction: column;
        background-color: rgb(180, 180, 238);
        justify-content: space-around;
        padding: 1rem;
    }
    
    .caso_estadistica{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 150px;
    }
    
    .caso_estadistica img{
        border-radius: 5rem;
    }

    .estadistica_imagen{
        height: 100px;
    }
    
    .form{
        display: flex;
    }
    
    .footer{
        background-color:#64a6f2;
        padding: 2rem;
    }
    
    .footer__flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .footer__menu{
        list-style: none;
        text-align: center;
    }
    .footer__titulo{
        color: black;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .footer__menu a{
        color: black;
        text-decoration: none;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .footer__secciones{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top:1rem;
    }
    
    .footer__seccion{
        padding:1rem;
    }
    
    .footer__image{
        text-align: center;
        padding: 1rem;
    }
    
}

