/*Tabletas*/
@media (min-width: 577px) and (max-width: 991px) {
    #presentacion {
        padding: 1rem;
        &__titulo {
            font-size: 2rem;
            padding-top: 2rem;
            padding-left: 2rem;
        }

        &__descripcion {
            color: white;
            font-size: 1rem;
            padding-top: 1rem;
            width: 50%;
            padding-left: 2rem;
        }
    }

    #estadisticas {
        &__texto {
            font-size: 1rem;
        }
    }

    #footer {
        &__imagen {
            padding-bottom: 3rem;
    
            svg {
                width: 100px;
                height: 100px;
            }
        }
    
        &__seccion {
            font-size: 1rem;
        }
    }

    .seccion__comentarios__main{
        background-image: url(../../img/main-comentarios.jpg);
        min-height: 70vh;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }

    .background__image__main{
        background-image: url(./img/portrait-of-smiling-young-girl-pointing-finger-away.jpg);
        background-size: cover;
        min-height: 70vh;
        position: relative;
        color: white;
    }

}

/*Celulares*/
@media (min-width: 320px) and (max-width: 576px) {
    #presentacion {
        padding: 2rem;
        &__titulo {
            font-size: 1.5rem;
            padding-top: 1px;
            justify-content: center;
        }

        &__descripcion {
            color: white;
            font-size: 10px;
            padding-top: 1rem;
            width: 100%;
        }
    }

    #estadisticas {
        &__texto {
            font-size: 10px;
        }
    }

    #footer {
        &__imagen {
            padding-bottom: 1rem;

            svg {
                height: 50px;
                width: 50px;
            }
        }

        &__seccion {
            font-size: 10px;
        }
    }

    .membresia{
        &__articulo{
            padding: 30px;
            h2{
                font-size: 20px;
                text-decoration: underline;
            }
        }
        &__banner{
            padding: 30px;
            span{
                font-size: 20px;
                text-decoration: underline;
            }
        }
    }

    .seccion__comentarios__main{
        background-image: url(../../img/main-comentarios.jpg);
        min-height: 10vh;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }

    .card-text{
        font-size: 14px;
    }

    .card-title{
        font-size: 16px;
    }

    .main__title {
        font-size: 14px;
    
        &__principal {
            font-size: 16px;
        }
    }

    .card{
        opacity: 50;
    }

    .background__image__main{
        background-image: url(./img/portrait-of-smiling-young-girl-pointing-finger-away.jpg);
        background-size: cover;
        min-height: 50vh;
        position: relative;
        color: white;
    }

    .background {
        background-image: url(../../img/chica-pensando.jpg);
        background-size: cover;
        min-height: 50vh;
        position: relative;
        color: white;
    }

    .bg__soporte{
        background-image: url(../../img/ask-us-enquire-question-information-contact-concept.jpg);
        min-height: 50vh;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }

}