$font-subttitle: 16px;
$font-title: 32px;

/////////////////////////////////////////
//          Paleta de colores          //
/////////////////////////////////////////
$color-primero: #ffa43a;
$color-segundo: #ffbf75;
$color-tercero: #759eff;
$color-cuarto: #75c7ff;
$color-quinto: #525558;

//////////////////////////////////////////////////////////
//          Modificaciones variables bootstrap          //
//////////////////////////////////////////////////////////



@import "../../node_modules/bootstrap/scss/bootstrap.scss"