//////////////////////////////////////////
//Se modifican animaciones de bootstrap //
//////////////////////////////////////////
.navbar-nav {
    li a {
        transition: .5s;
    }

    li a::before {
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
    }

    li a:hover::before {
        transform: scale(1.1);
    }

    li a:hover {
        color: #ffee10;
        text-shadow: 0 0 5px #ffee10;
    }

}