.main__home {
    background-image: url(../../img/portrait-of-smiling-young-girl-pointing-finger-away.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.presentacion {
    position: relative;
    z-index: 2;

    &__titulo {
        font-size: 3rem;
        padding-top: 1rem;
    }

    &__descripcion {
        color: white;
        font-size: 1.5rem;
        padding-top: 1rem;
        width: 30%;
    }
}

.carousel-inner img {
    height: 668px;
}

#estadisticas__texto {
    @include texto__centrado;
}

.estadistica_imagen {
    height: 100px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 100px;
}

.animacion {
    color: white;
    font-size: 100px;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 1s;
}

@keyframes efecto {
    0% {
        color: white;
    }

    25% {
        color: beige;
        transform: translateX(100px);
    }

    50% {
        color: #64a6f2;
    }

    75% {
        color: rgb(255, 255, 255);
    }

    100% {
        color: white;
    }
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

#content_div_one_photo {
    height: 16rem;
    width: 11rem;
    border-radius: 10px;
    border: 5px solid black;
}

#padre {
    position: relative;
    /* para poder posicionar el texto de forma absoluta */
    display: inline-block;
    /* para que solo ocupe el ancho de la imagen */
}

.card-title {
    position: absolute;
    /* posición absolute con respecto al padre */
    bottom: 0;
    /* posicionada en la esquina inferior derecha */
    right: 1rem;
}

.background__image__main{
    background-image: url(./img/portrait-of-smiling-young-girl-pointing-finger-away.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
}

.color-overlay{
    height: 100%;
}

.seccion__comentarios__main{
    background-image: url(../../img/main-comentarios.jpg);
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

#footer {
    &__imagen {
        padding-bottom: 3rem;

        svg {
            width: 200px;
            height: 200px;
        }
    }

    &__seccion {
        font-size: 1rem;
    }
}