.membresia {
    padding: 100px;
    background-image: url(../../img/foto-servicios.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;

    &__contenedor {
        @include texto__centrado;
    }

    &__principal {
        h1 {

            color: white;
            font-weight: bolder;
        }
    }

    &__articulo {
        padding: 70px;

        h2 {
            font-size: 30px;
            text-decoration: underline;
        }
    }

    &__banner {
        padding: 10px;

        span {
            background-color: orange;
            padding: 10px;
            font-size: 2rem;
            border-radius: 5rem;
        }
    }

    &__abonos {
        @include flex-row-center;
    }

    &__tarjeta {
        background-color: gray;
        box-shadow: 5px 5px 5px grey;
        border: 10px yellow;
        border-radius: 10px;
        padding: 50px;
        margin: 50px;
        box-shadow: 20px 20px 20px 20px black;
        transition: box-shadow 30ms;
        color: white;

        ul {
            list-style: circle;
            text-align: left;

            li {
                margin-top: 10px;
            }

            ;
        }
    }

    &__tarjeta:hover {
        box-shadow: 0 0 3px #515151;
        border: 10px double yellow;
    }
}
