.container__quienesSomos{
    @include texto__centrado;
    div{
        padding: 30px;
        p{
            padding: 10px;
        }
    } 
}

.container__fundadores {
    @include flex-row-center;
    div {
        img {
            @include sizes(250px, 170px);
            border-radius: 5rem;
            border: solid black 1px;
        }
        p{
            @include texto__centrado;
        }
    }
}

.bg__quienes__somos{
    background-image: url(../../img/fondo-naranja.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
}

