.bg__soporte{
    background-image: url(../../img/ask-us-enquire-question-information-contact-concept.jpg);
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    opacity: 75;
}